.contacts {
  position: relative;
  margin-top: 90px;
}

.contacts__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 700px;
}

.contacts__block {
  display: flex;
  flex-direction: column;
  width: 25%;
  transform: translateY(3px);
}
.contacts__address {
  margin-bottom: 40px;
}
.contacts__address_title {
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 600;
}
.contacts__address_street {
  font-style: normal;
}
.contacts__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 42px;
}
.contacts__form_title,
.contacts__click_title {
  font-size: 24px;
  font-weight: 400;
}

.contacts__click_title {
 margin-bottom: 19px;
}
.contacts__messengers {
  display: flex;
}
.contacts__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.contacts__button:not(:last-child) {
  margin-right: 20px;
}

.contacts__button.whatsapp {
  background: no-repeat center center url(../../img/contacts/whatsapp.svg) var(--whatsapp-color);
}
.contacts__button.telegram {
  background: no-repeat 40% 60% url(../../img/contacts/telegram.svg) var(--telegram-color);
}
.map {
  position: absolute;
  top: 0;
  left: 33%;
  margin-left: auto;
  width: 64vw;
  height: 700px;
}
[class*="ground-pane"] {
  filter: grayscale(1);
}

.contacts__address_m {
  display: none;
}

@media(max-width: 1360px) {
  .contacts__block {
    width: 42%;
    transform: translateY(12px);
  }
  .contacts__button {
    width: 60px;
    height: 60px;
  }
  .contacts__button:not(:last-child) {
    margin-right: 30px;
  }
  .contacts__button.whatsapp,
  .contacts__button.telegram {
    background-size: 60%;
  }
  .map {
    left: 48%;
    width: 52vw;
  }
}
@media(max-width: 840px) {
  .contacts__block {
    width: 52%;
    transform: translateY(12px);
  }
  .map {
    left: 56%;
    width: 44vw;
  }
}

@media(max-width: 475px) {
  .contacts {
    margin-top: 56px;
  }
  .contacts__title {
    margin-bottom: 18px;
  }
  .contacts__container {
    flex-direction: column-reverse;
    align-items: flex-start;
    height: auto;
  }
  .contacts__address {
    display: none;
  }
  .contacts__address_m {
    display: block;
    margin-bottom: 16px;
  }
  .contacts__address_title {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 600;
  }
  .contacts__address_street {
    margin-right: -4px;
    font-size: 14px;
  }
  .map {
    position: relative;
    left: -15px;
    width: 100vw;
    height: 320px;
    margin-bottom: 30px;
  }
  .contacts__block {
    width: 100%;
    min-width: auto;
    margin-right: 0;
    transform: translateY(0);
  }
  .contacts__form {
    margin-bottom: 26px;
  }
  .contacts__form_title,
  .contacts__click_title {
    font-size: 18px;
  }

  .contacts__click_title {
    margin-bottom: 16px;
  }

  .contacts__button {
    width: 48px;
    height: 48px;
  }

  .contacts__button:not(:last-child) {
    margin-right: 24px;
  }
}
