.events {
  margin-top: 90px;
}
.events__container {
  display: flex;
  flex-wrap: wrap;
}

.event {
  display: flex;
  flex-basis: calc(33.3333333333% - 33.3333333px);
  flex-direction: column;
  height: auto;
  min-height: 700px;
  margin-bottom: 50px;
}
.event:not(:nth-child(3n)) {
  margin-right: 50px;
}
.event:nth-child(1n + 4) {
  height: 0;
  min-height: 0;
  margin-bottom: 0;
  overflow: hidden;
}
.event:nth-child(1n + 4).show {
  height: auto;
  min-height: 700px;
  margin-bottom: 50px;
}

.event__pic {
  display: flex;
}

.event__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px 16px 46px 50px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--accordion-border-color);
}

.event__info {
  margin-left: auto;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: right;
  color: var(--light-grey-color);
}

.event__title {
  width: 98%;
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: var(--dark-grey-color);
}

.event__descr {
  max-width: 94%;
  margin-bottom: 30px;
  line-height: 32px;
  color: var(--dark-grey-color);
}

.event__more {
  margin-top: auto;
  width: max-content;
  color: var(--accent-light-color);
}
.event__more:hover {
  font-weight: 700;
}
.event__more:active {
  font-weight: 700;
  color: var(--accent-color);
}
.event__more:active::before{
  bottom: -6px;
  color: var(--accent-color);
}
.event__more::before{
  content: '';
  position: absolute;
  bottom: -6px;
  width: 100%;
  height: 1px;
  background-color: var(--accent-light-color);
}
.event__more:hover::before{
  bottom: -6px;
}

.events__more-btn {
  display: flex;
  margin: 0 auto;
}

.events__more-btn.show {
  display: none;
}


@media (max-width: 1360px) {
  .event {
    flex-basis: calc(33.3333333333% - 18px);
    min-height: 683px;
  }
  .event:not(:nth-child(3n)) {
    margin-right: 27px;
  }
  .event__container {
    padding: 16px 16px 56px 35px;
  }
}

@media (max-width: 840px) {
  .events {
    margin-top: 82px;
  }
  .event {
    flex-basis: calc(50% - 17px);
    min-height: 683px;
  }
  .event:not(:nth-child(3n)) {
    margin-right: 0;
  }
  .event:not(:nth-child(2n)) {
    margin-right: 34px;
  }
  .event:nth-child(1n + 3) {
    height: 0;
    min-height: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
  .event:nth-child(1n + 3).show {
    height: auto;
    min-height: 700px;
    margin-bottom: 50px;
  }
  .event__pic {
    height: 200px;
  }
}

@media (max-width: 575px) {
  .events__swiper {
    overflow: hidden;
  }
  .events__container {
    display: flex;
    flex-wrap: nowrap;
  }
  .event {
    flex-basis: 100%;
    height: auto;
    min-height: 683px;
    margin: 0;
  }
  .event:not(:nth-child(2n)) {
    margin-right: 0;
  }
  .event:nth-child(1n + 3) {
    height: auto;
    min-height: 683px;
    margin-bottom: 0;
    overflow: auto;
  }

  .event__container {
    height: 100%;
    padding: 16px 10px 56px 28px;
  }
  .event__title {
    margin-bottom: 36px;
  }
}
