.footer {
  height: 140px;
  background: var(--black-color);
}
.footer__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.social {
  display: flex;
  margin-left: auto;
}

.social__items {
  position: relative;
  display: flex;
  width: 46px;
  height: 46px;
  background: no-repeat center center / cover;
}
.social__items:not(:last-child) {
  margin-right: 19px;
}
.social__items.vk {
  background-image: url(../../img/footer/vk.svg);
}
.social__items.inst {
  background-image: url(../../img/footer/inst.svg);
}
.social__items.fb {
  background-image: url(../../img/footer/fb.svg);
}
@media (max-width: 1360px) {
  .social__items {
    width: 64px;
    height: 64px;
  }
  .social__items:not(:last-child) {
    margin-right: 26px;
  }
}
@media(max-width: 475px) {
  .footer {
    margin-top: 32px;;
    height: 132px;
  }
  .footer__container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .footer__logo {
    height: 22px;
  }
  .social {
    margin: 0 0 20px;
  }
  .social__items {
    width: 54px;
    height: 54px;
  }

}
