.header {
  font-size: 18px;
}
.header_bg {
    background: var(--black-color);
  }

.header_container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
}

.burger {
  display: none;
}

.header__logo {
  height: 40px;
}

.search {
  position: relative;
}

.search_m {
  display: none;
}

.header__bottom {
  position: absolute;
  z-index: 4;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.header__bottom_container {
  display: flex;
  align-items: center;
  height: 70px;
}
.header__list {
  display: flex;
  margin-right: auto;
}

@media (max-width: 1360px) {
  .header__logo {
    margin: 0 auto;
    height: 42px;
  }
  .login {
    display: none;
  }
  .header__bottom {
    display: none;
  }
}

@media (max-width: 475px) {
  .header_container {
    height: 45px;
  }
  .header__logo {
    height: 22px;
  }
}
