.hero {
  position: relative;
}

.hero-carousel {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero__container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  padding-top: 20px;
  pointer-events: none;
}


.hero__title,
.hero__descr {
  font-weight: 700;
  color: var(--white-color);
}
.hero__title {
  max-width: 570px;
  margin-bottom: 15px;
  font-size: 72px;
  line-height: 83px;
}

.hero__descr {
  max-width: 579px;
  margin-bottom: 92px;
  font-size: 18px;
  line-height: 30px;
}

@media (max-width: 1360px) {
  .hero__container {
    height: 668px;
    padding-top: 0;
  }
  .hero__title {
    margin-bottom: 12px;
    margin-left: -5px;
  }
  .hero__descr {
    max-width: 660px;
    margin-bottom: 130px;
  }
}

@media (max-width: 660px) {
  .hero__container {
    height: 500px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 58px;
  }
  .hero__descr {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 475px) {
  .hero {
    margin-bottom: 56px;
  }
  .hero__container {
    align-items: center;
    height: 310px;
    padding-bottom: 15px;
  }
  .hero__title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
  .hero__descr {
    max-width: 265px;
    margin-bottom: 42px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
  }
}
