.menu {
  margin: 0 auto 0 11%;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 66px;
}

.nav__item_link {
  color: var(--white-color);
}
.nav__item_link:hover {
  color: var(--accent-light-color);
}
.nav__item_link:active {
  color: var(--accent-color);
}
.nav__item_link:focus {
  outline: 2px solid var(--accent-light-color);
  outline-offset: 6px;
}

@media (max-width: 1360px) {
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 768px;
    margin: 0;
    background: var(--bg--nav-color);
    transform: translateY(-101%);
    transition: transform .3s ease-in-out;
  }
  .menu.active {
    transform: translateY(0);
  }
  .nav {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 30px 50px;
  }
  .nav__list {
    flex-direction: inherit;
    margin: 50px 0;
  }
  .nav__item:not(:last-child) {
    margin: 0 0 40px 0;
  }
  .nav__item_link {
    font-size: 24px;
  }
  .nav .btn_login {
    margin-top: auto;
  }
}
@media (max-width: 660px) {
  .menu {
    height: 600px;
  }
  .nav__item:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 475px) {
  .menu {
    height: 355px;
  }
  .nav {
    padding: 10px 15px;
  }
  .nav__list {
    margin: 10px 0;
  }
  .nav__item_link {
    font-size: 16px;
  }
  .nav__item:not(:last-child) {
    margin: 0 0 10px 0;
  }
}

