.projects {
  margin-top: 90px;
}

.projects__title {

}
.projects__descr {
  max-width: 1080px;
  margin-bottom: 26px;
  line-height: 32px;
}
.projects__partner_title {
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 600;
}

.projects__link {
  display: inline-block;
  color: var(--accent-light-color);
}
.projects__item {
  display: flex;
  margin: auto;
  background: no-repeat center center / contain;
}
.projects__item_pic-1 {
  width: 244px;
  height: 63px;
  background-image: url(../../img/projects/partners/pic-1.jpg);
}
.projects__item_pic-2 {
  width: 330px;
  height: 59px;
  background-image: url(../../img/projects/partners/pic-2.jpg);
}
.projects__item_pic-3 {
  width: 269px;
  height:63px;
  background-image: url(../../img/projects/partners/pic-3.jpg);
}
.projects__item_pic-4 {
  width: 123px;
  height: 85px;
  background-image: url(../../img/projects/partners/pic-4.jpg);
}
.projects__item_pic-5 {
  width: 173px;
  height: 85px;
  background-image: url(../../img/projects/partners/pic-5.jpg);
}
.projects__item_pic-6 {
  width: 252px;
  height: 70px;
  background-image: url(../../img/projects/partners/pic-6.jpg);
}
.projects__item_pic-7 {
  width: 286px;
  height: 69px;
  background-image: url(../../img/projects/partners/pic-7.jpg);
}
.projects__item_pic-8 {
  width: 185px;
  height: 81px;
  background-image: url(../../img/projects/partners/pic-8.jpg);
}
.projects__item_pic-9 {
  width: 229px;
  height: 62px;
  background-image: url(../../img/projects/partners/pic-9.jpg);
}
@media (max-width: 1360px) {
  .projects__item {
    background-size: 85% 85%
  }
}
@media (max-width: 840px) {
  .projects__partner_title {
    margin-bottom: 34px;
  }
  .projects__descr {
    margin-bottom: 32px;
  }
  .projects__item {
    background-size: 85% 80%
  }
}

@media (max-width: 475px) {
  .projects {
    margin-top: 56px;
  }
  .projects__descr {
    margin-bottom: 18px;
  }
  .projects__partner_title {
    margin-bottom: 18px;
    font-size: 18px;
  }
  .projects__item {
    background-size: 55% 40%
  }
}
