.choices {
  margin-bottom: -1px;
}
.choices .choices__inner {
  min-height: 40px;
  padding-left: 16px;
  color: var(--light-grey-color);
  border-radius: 0 0 0 0;
  border-color: var(--light-grey-color);
}
.choices:nth-child(1) .choices__inner {
  border-radius: 6px 6px 0 0;
}

.choices:last-child .choices__inner {
  border-radius: 0 0 6px 6px;
}

.choices.is-focused .choices__inner,
.choices:hover .choices__inner {
  position: relative;
  z-index: 10;
  padding-left: 10px;
  color: var(--white-color);
  border-radius: 6px;
  border-color: var(--white-color);
}
.choices.is-open .choices__inner {
  position: relative;
  z-index: 10;
  border-radius: 6px 6px 0 0;
  border-color: var(--white-color);
  background-color: var(--black-color);
}
.choices__list--dropdown {
  position: absolute;
  z-index: 5;
  background-color: var(--black-color);
  border-radius: 0 0 6px 6px;
}

.choices__item--disabled {
  display: none;
}
