.dropdown {
  position: relative;
  margin-right: 96px;
}

.dropdown__btn {
  color: var(--white-color);
}

.dropdown__btn:focus {
  outline: 2px solid var(--accent-light-color);
  outline-offset: 6px;
}
.dropdown__btn:hover {
  color: var(--accent-light-color);
}
.dropdown__btn:hover .dropdown__btn_arrow {
  border-color: var(--accent-light-color);
}
.dropdown__btn:active {
  color: var(--accent-color);
}
.dropdown__btn:active .dropdown__btn_arrow {
  border-color: var(--accent-color);
}
.dropdown__btn.active {
  color: var(--accent-light-color);
}
.dropdown__btn.active .dropdown__btn_arrow {
  border-color: var(--accent-light-color);
  transform: translateY(0px) rotate(-135deg);
}

.dropdown__btn_arrow {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-left: 4px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--white-color);
  pointer-events: none;
  transform: translateY(-4px) rotate(45deg);
}

.dropdown__container {
  position: absolute;
  z-index: 5;
  top: 44px;
  display: none;
  padding: 30px;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.6);
}

.dropdown__btn.active+.dropdown__container {
  display: flex;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown__link {
  position: relative;
  display: flex;
  z-index: 2;
  align-items: center;
  width: 220px;
  height: 40px;
  padding-left: 14px;
  font-size: 14px;
  color: var(--white-color);
  background: no-repeat;
  border: 2px solid transparent;
}

.dropdown__link:hover,
.dropdown__link:focus {
  color: var(--white-color);
  border: 2px solid var(--accent-color);
}

.dropdown__link:active {
  color: var(--white-color);
  border: 2px solid var(--accent-light-color);
  outline: none;
}

.dropdown__link::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dropdown__link:active:before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}
.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__link_pic-1-1 {
  background-image: url(../../img/header/dropdown-1/pic-1.jpg);
}

.dropdown__link_pic-1-2 {
  background-image: url(../../img/header/dropdown-1/pic-2.jpg);
}

.dropdown__link_pic-1-3 {
  background-image: url(../../img/header/dropdown-1/pic-3.jpg);
}

.dropdown__link_pic-1-4 {
  background-image: url(../../img/header/dropdown-1/pic-4.jpg);
}

.dropdown__link_pic-2-1 {
  background-image: url(../../img/header/dropdown-2/pic-1.jpg);
}

.dropdown__link_pic-2-2 {
  background-image: url(../../img/header/dropdown-2/pic-2.jpg);
}

.dropdown__link_pic-2-3 {
  background-image: url(../../img/header/dropdown-2/pic-3.jpg);
}

.dropdown__link_pic-2-4 {
  background-image: url(../../img/header/dropdown-2/pic-4.jpg);
}

.dropdown__link_pic-3-1 {
  background-image: url(../../img/header/dropdown-3/pic-1.jpg);
}

.dropdown__link_pic-3-2 {
  background-image: url(../../img/header/dropdown-3/pic-2.jpg);
}

.dropdown__link_pic-3-3 {
  background-image: url(../../img/header/dropdown-3/pic-3.jpg);
}

.dropdown__link_pic-3-4 {
  background-image: url(../../img/header/dropdown-3/pic-4.jpg);
}

.dropdown__link_pic-4-1 {
  background-image: url(../../img/header/dropdown-4/pic-1.jpg);
}

.dropdown__link_pic-4-2 {
  background-image: url(../../img/header/dropdown-4/pic-2.jpg);
}

.dropdown__link_pic-4-3 {
  background-image: url(../../img/header/dropdown-4/pic-3.jpg);
}

.dropdown__link_pic-4-4 {
  background-image: url(../../img/header/dropdown-4/pic-4.jpg);
}

.dropdown__link_pic-5-1 {
  background-image: url(../../img/header/dropdown-5/pic-1.jpg);
}

.dropdown__link_pic-5-2 {
  background-image: url(../../img/header/dropdown-5/pic-2.jpg);
}

.dropdown__link_pic-5-3 {
  background-image: url(../../img/header/dropdown-5/pic-3.jpg);
}

.dropdown__link_pic-5-4 {
  background-image: url(../../img/header/dropdown-5/pic-4.jpg);
}
