.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
}
.popup.active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.popup__container {
  position: relative;
  z-index: 12;
  height: 90%;
}
.popup__container .swiper-item > img {
  width: auto;
  object-fit: contain;
}
.popup__container .cross {
  position: absolute;
  z-index: 13;
  top: 0;
  right: 0;
  display: flex;
  transform: none;
}
/* .popup__container .cross::after,
.popup__container .cross::before {
  background-color: var(--black-color);
} */
.swiper-slide__descr {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px 20px;
  line-height: 22px;
  background-color: rgba(0, 0, 0, .7);
}
.popup__bg {
  position: absolute;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
}

@media (max-width: 475px) {
  .popup__container {
    width: 100%;
    height: fit-content;
  }
  .popup__container .swiper-item > img {
    width: 100%;
    object-fit: contain;
  }
  .swiper-slide__descr {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px 20px;
    line-height: 22px;
    background-color: transparent;
  }
}
