.tooltip {
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 15px;
  min-height: 15px;
  margin-right: 5px;
  line-height: 1;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.tooltip::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 15px;
  height: 15px;
  background-color: var(--accent-light-color);
  border: 1px solid transparent;
  border-radius: 50%;
  transform: translateY(1px);
  cursor: pointer;
}
.tooltip:hover {
  color: var(--white-color);
}
.tooltip:hover::before {
  background-color: var(--accent-color);
}

.tippy-box {
  padding: 8px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: var(--light-grey-color);
  border-radius: 0;
  opacity: 1;
}

.tippy-arrow {
  color: var(--light-grey-color);
}

@media (max-width: 1360px) {
  .tooltip {
    color: var(--accent-light-color);
  }
  .tooltip::before {
    background-color: transparent;
    border-color: var(--accent-light-color);
  }
}

@media (max-width: 475px) {
  .tooltip {
    margin-right: 0;
  }
}
